div 
nav(class="navbar navbar-expand-sm navbar-light")
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bus">BusPlay</a>
    </li>
  </ul>

//- <nav class="navbar navbar-expand-sm " style="background-color: #A8E7F4;">
//-     <ul>
//-         <li class="nav-item">
//-             a(href="/")  Home
//-         </li>
//-         <li class="nav-item">
//-             a(href="/about") About 
//-         </li>
//-         <li class="nav-item">
//-             a(href="/bus") Bus Project 
//-         </li>
//-     </ul>
//- </nav>