body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    padding-top: 30px;
    flex-grow: 1;
}

#loc-search {
    margin: auto;
    width: 50%;
}

label {
    font-size:1.7em;
    padding-right: 10px;
}

#placename {
    font-weight: 500;
    margin-left: 25%;
    padding-top: 10px;
}

#closestStopList {
    padding-top: 25px;
    padding-left: 30px;
    margin-right: 25%;
    margin-left: 25%;
    border: 5px solid rgb(138, 138, 240);
}

.footer {
    background-color: #A8E7F4;
    border-top: 1px solid;
    border-color: #A8E7F4;
    /* position: fixed; */
}

h1 {
    text-align: center;
    color: #363c47;
}

.navbar {
    background-color: #A8E7F4;
}